/* NavbarDrorpdown.css */

.dropdown-content {
  /* display: none; */
  width: 300px;
  position: absolute;
  top: 100%;
  /* Position the dropdown below the button */
  right: 28px;
  /* Adjust as needed based on your layout */
  background-color: black;
  min-width: 160px;
  /* Set a minimum width for the dropdown */
  z-index: 1;
  /* Ensure the dropdown appears above other content */
  transition: 3s ease-in-out;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(245, 240, 245, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(245, 240, 245, 1);
  box-shadow: 0px 0px 10px 0px rgba(245, 240, 245, 0.799);
  border-radius: 0px 0 10px 10px;
}

.login-time{
  color: var(--text-color-white);
  font-size: 12px;
  margin-right: 15px;
  margin-top: 18px;
  font-weight: 500;
  background-color: black;
  padding: 3px 6px;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content ul li {
  padding: 10px;
  cursor: pointer;
  background-color: var(--primary-color);
  border-bottom: 1px solid black;
  color: var(--text-color);
}

.dropdown-content ul li:hover {
  background-color: #f1f1f1;
}
.dropdown-content-profile{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color-white);
}

.dropdown-content-profile-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.show {
  display: block;
  /* Show the dropdown when isDropdownOpen is true */
}